# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo

# Compiled extensions
*.pyd
*.so
*.dll
*.o

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv/

# Logs and databases
*.log
logs/
pgdata/
*.db  # remove if you want to keep small sample DBs

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/
.ropeproject/

# Type checkers / linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Debug
cython_debug/

# Misc tools
.pypirc
.abstra/
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
